block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/css/styles.css")
    title #{title}
  body 
    header
      h1
        a(href="/") Gameplus
      input(type="text" placeholder="What games you are looking for")
      button
        a(href="#") Cart
    main#main
      block main-content 
    footer#footer 
      p &copy; Hong Kan Poon HTTP5211, 2023.